mixin head_setting(data_page)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    |
    |
    title= data_page.title_page +' | '+ data.general.title_website
    |
    |
    link(rel='shortcut icon' type='image/png' href= data.general.url_favicon)
    link(rel='icon' type='image/png' href= data.general.url_favicon)
    |
    |
    meta(property='og:title' content= data_page.title_page +' | '+ data.general.title_website)
    meta(name='description' content= data.general.description_website +', '+ data_page.description_page)
    meta(name='keywords' content= data.general.keywords_website +', '+ data_page.keywords_page)
    link(rel='image_src' type='image/jpg' href= data.general.url_image_page)
    |
    |
    meta(property='og:url' content= data.general.url_website)
    meta(property='og:type' content='website')
    meta(property='og:description' content= data.general.description_website +', '+ data_page.description_page)
    meta(property='og:image' content= data.general.url_image_page)
    meta(property='og:image:alt' content= data_page.title_page +' | '+ data.general.title_website)
    meta(property='og:type' content='website')
    |
    |
    meta(name='twitter:title' content= data_page.title_page +' | '+ data.general.title_website)
    meta(name='twitter:card' content= data.general.url_image_page)
    meta(name='twitter:description' content= data.general.description_website +', '+ data_page.description_page)
    meta(name='twitter:image' content= data.general.url_image_page)
    |
    |
    meta(name='dc.created' content= data.general.author)
    meta(name='dc.publisher' content= data.general.author)
    meta(name='dc.rights.copyright' content= data.general.author)
    meta(name='dc.creator.name' content= data.general.author)
    |
    |
    meta(name='robots' content='noindex, follow')
    meta(name='revisit-after' content='3 days')
    meta(name='rating' content='general')
    link(rel='alternate' href= data.general.url_website hreflang= data.general.hreflang_website)
    link(href= data.general.url_website rel='canonical')
    meta(name='copyright' content= data.general.author)
    meta(name='author' content= data.general.author)
    |
    |
    meta(http-equiv='cache-control' content='no-cache')
    meta(http-equiv='expires' content='0')
    meta(http-equiv='pragma' content='no-cache')
    |
    |
    // CSS
    each item in data_page.link_css_page
        link(rel='stylesheet' type='text/css' href= 'css/'+ item +'.css')

mixin render_link_js(data_page)
    // JS
    each item in data_page.link_js_page
        script(src='js/'+ item +'.js')
    // end JS

mixin render_link_logo(titleWebsite, linkLogo)
    a.linkLogoHeader(href='index.html', title= titleWebsite)
        img.imgLogoHeader(src= linkLogo alt= titleWebsite)

mixin menu_main(data_menu)
    .wrapMenuHeader
        ul.listMenuHeader
            each item in data_menu
                if item.children
                    li.itemMenuHeader.menuSub
                        a.linkMenuHeader(href= item.link title= item.title)= item.title

                        a.btnDropdownMenuSub(href='javascript:void(0);' title= item.title)
                            svg(aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512')
                                path(fill='currentColor' d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z')

                        +menu_main(item.children)
                else
                    li.itemMenuHeader
                        a.linkMenuHeader(href= item.link title= item.title)= item.title

mixin menu_main_1(data_menu, parent)
    .wrapMenuHeader
        ul.listMenuHeader
            each item in data_menu
                if item.children
                    li.itemMenuHeader.menuSub
                        a.linkMenuHeader(href= item.link title= item.title)= item.title

                        a.btnDropdownMenuSub(href='javascript:void(0);' title= item.title)
                            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M4.251 181.1C7.392 177.7 11.69 175.1 16 175.1c3.891 0 7.781 1.406 10.86 4.25l197.1 181.1l197.1-181.1c6.5-6 16.64-5.625 22.61 .9062c6 6.5 5.594 16.59-.8906 22.59l-208 192c-6.156 5.688-15.56 5.688-21.72 0l-208-192C-1.343 197.7-1.749 187.6 4.251 181.1z"/></svg>

                        +menu_main(item.children, 1)
                else
                    li.itemMenuHeader
                        a.linkMenuHeader(href= item.link title= item.title)= item.title

            if parent == 0
                li.itemMenuHeader.wrapBtnBookingScroll
                    .btn1.btnItem(data-toggle="modal" data-target="#modalBook")
                        | Đặt phòng
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M335 408.1C330.3 404.3 328 398.2 328 392s2.344-12.28 7.031-16.97L430.1 280H24C10.75 280 0 269.2 0 255.1C0 242.7 10.75 232 24 232h406.1l-95.03-95.03c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0l136 136c9.375 9.375 9.375 24.56 0 33.94l-136 136C359.6 418.3 344.4 418.3 335 408.1z"/></svg>

mixin menu_main_2(data_menu)
    .wrapMenuHeader
        ul.listMenuHeader
            each item in data_menu
                if item.children
                    li.itemMenuHeader.menuSub
                        a.linkMenuHeader(href= item.link title= item.title)= item.title

                        a.btnDropdownMenuSub(href='javascript:void(0);' title= item.title)
                            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M4.251 181.1C7.392 177.7 11.69 175.1 16 175.1c3.891 0 7.781 1.406 10.86 4.25l197.1 181.1l197.1-181.1c6.5-6 16.64-5.625 22.61 .9062c6 6.5 5.594 16.59-.8906 22.59l-208 192c-6.156 5.688-15.56 5.688-21.72 0l-208-192C-1.343 197.7-1.749 187.6 4.251 181.1z"/></svg>

                        +menu_main(item.children, 1)
                else
                    li.itemMenuHeader
                        a.linkMenuHeader(href= item.link title= item.title)= item.title

mixin render_paging(quantily = 5)
    - var number_paging = 0;

    .clearfix.wrapPaggingList
        a.linkPagging.prev(href='#' title='Previus')
            span
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>

        while number_paging < quantily
            a.linkPagging(href='javascript:void(0);' class= number_paging == 0 ? 'active' : '')
                if number_paging++ < 9
                    span= '0'+ number_paging
                else
                    span= number_paging

        a.linkPagging.next(href='#' title='Next')
            span
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>

mixin renderItemSlideMain(item)
    .elementSlideMain
        .wrapImgResize.wrapImgSlideMain
            img(src= item.img alt= data.title)

mixin renderTabGallery(link)
    .tabs-filter
        .tabs-scroll
            .btnScroll.prev.hidden
                .wrapIcon
                    svg(fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512')
                        path(d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z')

            .btnScroll.next.hidden
                .wrapIcon
                    svg(fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512')
                        path(d='M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z')

            .tabs(role='tablist')
                .listItem
                    each item, index in data.listTabGallery
                        a.btnLinkItem(href= link class= index == 0 ? 'active' : '' title= item.title)
                            h2.titleLinkMain= item.title

mixin renderSocialItem(icon, title, link)
    a.linkItem(href= link target='_blank' title= title)
        img(src= icon alt= title)

mixin render_title(titleSub, titleMain)
    .wrapStar
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
        </svg>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
        </svg>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
        </svg>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
        </svg>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
        </svg>
    |
    |
    p.titleSub= titleSub
    |
    |
    h2.titleMain= titleMain

mixin render_title_1(titleSub, titleMain)
    p.titleSub= titleSub
    |
    |
    h2.titleMain= titleMain

mixin render_title_2(titleMain, link)
    h2.titleMain
        a.linkItem(href= link title= titleMain )= titleMain

mixin render_title_3(titleSub, titleMain, link)
    p.titleSub
        = titleSub
        <svg width="92" height="79" viewBox="0 0 92 79" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.2" d="M38.5589 2.80893C38.0591 2.27205 37.4131 2 36.7725 2H9.19313C5.36005 2 2 5.39633 2 9.875V44.4375C2 45.2609 2.30584 46.0243 2.81015 46.5661C3.30997 47.103 3.95597 47.375 4.59657 47.375H18.7448H20.8259L20.7432 49.4545C20.6335 52.2121 19.8665 54.9013 18.5064 57.2652L18.5008 57.2749L18.4951 57.2846C15.7754 61.8911 10.7753 64.811 4.11083 66.2417L4.10963 66.242L2 66.6935V77H4.59657C16.9884 77 26.1148 73.3257 32.079 66.3803C36.1208 61.6706 37.9628 56.2584 38.7827 51.95C39.1914 49.8023 39.3414 47.9524 39.3879 46.6394C39.4111 45.9836 39.4083 45.465 39.3996 45.114C39.3952 44.9383 39.3894 44.8063 39.3847 44.7219C39.3843 44.7138 39.3838 44.7061 39.3834 44.6991L39.3691 44.6221V44.4375V4.9375C39.3691 4.11409 39.0632 3.35065 38.5589 2.80893ZM38.5589 2.80893L40.0228 1.44616L38.5589 2.80893ZM52.5944 77V66.6935L54.704 66.242L54.7052 66.2417C61.3697 64.811 66.3698 61.8911 69.0895 57.2846L69.0952 57.2749L69.1008 57.2652C70.4609 54.9013 71.2279 52.2121 71.3376 49.4545L71.4203 47.375H69.3392H55.191C54.5504 47.375 53.9044 47.103 53.4046 46.5661C52.9002 46.0243 52.5944 45.2609 52.5944 44.4375V9.875C52.5944 5.39633 55.9544 2 59.7875 2H87.3669C88.0075 2 88.6535 2.27205 89.1533 2.80893C89.6576 3.35064 89.9635 4.11407 89.9635 4.9375V44.4375V44.6221L89.9778 44.6987C89.9782 44.7057 89.9786 44.7133 89.979 44.7213C89.9837 44.8057 89.9895 44.9376 89.9938 45.1134C90.0024 45.4644 90.005 45.9831 89.9816 46.6389C89.9348 47.9519 89.7844 49.8019 89.3754 51.9498C88.5549 56.2583 86.7129 61.6705 82.6734 66.3803C76.7092 73.3257 67.5828 77 55.191 77H52.5944Z" stroke="#E8A700" stroke-width="4"/>
        </svg>
    |
    |
    h2.titleMain= titleMain

mixin render_title_4(titleSub)
    h2.titleSub= titleSub

mixin renderItemContact(title, link, icon)
    a.linkItem(href= link class= title title= title) !{icon}

mixin render_item_img_promotion(item)
    .itemSlideImgRoom
        a.wrapImgResize.imgCustom4(href= item.link title= item.title_sub)
            img(src= item.img alt= item.title_sub )

mixin render_item_text_promotion(item)
    .itemSlideTextRoomh
        h2.titleMainItem
            a.linkItem(href= item.link title= item.title_main)= item.title_main

        .wrapTextItem
            h2.showTextItem= item.title_sub

        p.wrapDes= item.des

mixin render_item_img_room(item, index)
    each itemRoom in item.img_list
        .itemSlideImgRoom(data-text= index)
            a.wrapImgResize.img16And9(href= item.link title= item.link)
                img(src= itemRoom.img alt= item.title_main )

mixin render_item_text_room(item, indexImg)
    .itemSlideTextRoomh(data-img= indexImg)
        h2.titleMainItem
            a.linkItem(href= item.link_item title= item.title_item)= item.title_item

        h2.titleMain
            a.linkItem(href= item.link title= item.title_main )= item.title_main

        .wrapTextItem
            p.showTextItem= item.title_text

        p.wrapDes= item.des

mixin render_item_text_room_list(item, indexImg)
    .itemSlideTextRoomh(data-img= indexImg)
        h2.titleMainItem
            a.linkItem(href= item.link title= item.title_main )= item.title_main

        .wrapTextItem
            p.showTextItem= item.title_text

        p.wrapDes= item.des

mixin render_item_servicesV_list(item)
    .itemList.col-lg-4.col-sm-6.col3
        .contentCol
            .wrapImg
                a.wrapImgResize.img16And9(href= item.link title= item.title_main)
                    img(src= item.img alt= item.title_main )

            .wrapTextItem
                .contentTextItem
                    .iconItem
                        img(src= item.icon alt= item.title_main)

                    h3.titleLinkMain
                        a.linkItem(href= item.link title= item.title_main )= item.title_main

                    p.wrapDes= item.text

mixin render_breadcrumb(data)
    // breadcrumb
    .wrapBreadcrumb
        .wrapImgItem
            .wrapImgResize
                img(src= data.breadcrumb.url_img alt= data.title_page)

        .contentText
            .containerCustom1.containerItem
                .clearfix.contentItem
                    .wrapTitle
                        h1.titleMain= data.title_page

                    .wrapMenu
                        a.linkItem(href='index.html' title='Trang chủ')
                            | Trang chủ
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>

                        each item in data.breadcrumb.menu
                            a.linkItem(href= item.link title= item.title)
                                = item.title
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>

                        a.linkItem.active(href='javascript:void(0);' title= data.title_page)
                            = data.title_page
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>

mixin render_item_article_list(item)
    .itemList.col-xl-12.col-md-6
        .row.rowItem.row3
            .col-xl-2.colImg.col3
                .wrapImg
                    a.wrapImgResize.imgCustom2(href= item.link title= item.title )
                        img(src= item.img alt= item.title )

            .col-xl-10.colText.col3
                .contentCol 
                    h2.titleLinkMain
                        a.linkItem(href= item.link title= item.title)= item.title

                    .wrapListInfo 
                        .author.itemInfo
                            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M496.7 295.3l72.01 72.01l-125.3 125.3c-2.514 2.516-5.713 4.223-9.195 4.922l-71.42 14.29c-6.297 1.258-11.85-4.297-10.59-10.59l14.28-71.41c.6973-3.488 2.41-6.691 4.924-9.203L496.7 295.3zM629.5 255.7l-21.1-21.11c-14.06-14.06-36.85-14.06-50.91 0l-38.13 38.14l72.01 72.01l38.13-38.13C643.5 292.5 643.5 269.7 629.5 255.7zM360.1 512c.5898 0 1.189-.0586 1.797-.1797c-1.18 .2363-2.273 .0254-3.361-.1777C359.9 511.7 360.4 512 360.1 512zM96 128c0-70.69 57.31-128 127.1-128s128 57.31 128 128c0 70.69-57.31 128-128 128S96 198.7 96 128zM144 128c0 44.11 35.89 80 80 80s80-35.89 80-80c0-44.11-35.89-80-80-80S144 83.89 144 128zM326.1 464h-277.1C56.89 400.9 110.8 352 176 352h96c33.96 0 64.67 13.49 87.6 35.14l34.1-34.1C362.1 322.7 319.3 304 272 304h-96c-97.2 0-176 78.8-176 176c0 17.67 14.33 32 32 32h289.1c-1.246-5.531-1.43-11.31-.2832-17.04L326.1 464z"/></svg>
                            | Admin

                        .dateCreate.itemInfo
                            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M128 0C141.3 0 152 10.75 152 24V64H296V24C296 10.75 306.7 0 320 0C333.3 0 344 10.75 344 24V64H384C419.3 64 448 92.65 448 128V192H48V448C48 456.8 55.16 464 64 464H262.5L257.4 484.2C255.1 493.6 255.7 503.2 258.8 512H64C28.65 512 0 483.3 0 448V128C0 92.65 28.65 64 64 64H104V24C104 10.75 114.7 0 128 0V0zM296 256C309.3 256 320 266.7 320 280C320 293.3 309.3 304 296 304H120C106.7 304 96 293.3 96 280C96 266.7 106.7 256 120 256H296zM96 376C96 362.7 106.7 352 120 352H232C245.3 352 256 362.7 256 376C256 389.3 245.3 400 232 400H120C106.7 400 96 389.3 96 376zM564.1 250.1C579.8 265.7 579.8 291 564.1 306.7L534.7 336.1L463.8 265.1L493.2 235.7C508.8 220.1 534.1 220.1 549.8 235.7L564.1 250.1zM311.9 416.1L441.1 287.8L512.1 358.7L382.9 487.9C378.8 492 373.6 494.9 368 496.3L307.9 511.4C302.4 512.7 296.7 511.1 292.7 507.2C288.7 503.2 287.1 497.4 288.5 491.1L303.5 431.8C304.9 426.2 307.8 421.1 311.9 416.1V416.1z"/></svg>
                            | 04/03/2024

                        .view.itemInfo
                            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M160 256C160 185.3 217.3 128 288 128C358.7 128 416 185.3 416 256C416 326.7 358.7 384 288 384C217.3 384 160 326.7 160 256zM288 336C332.2 336 368 300.2 368 256C368 211.8 332.2 176 288 176C287.3 176 286.7 176 285.1 176C287.3 181.1 288 186.5 288 192C288 227.3 259.3 256 224 256C218.5 256 213.1 255.3 208 253.1C208 254.7 208 255.3 208 255.1C208 300.2 243.8 336 288 336L288 336zM95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6V112.6zM288 80C222.8 80 169.2 109.6 128.1 147.7C89.6 183.5 63.02 225.1 49.44 256C63.02 286 89.6 328.5 128.1 364.3C169.2 402.4 222.8 432 288 432C353.2 432 406.8 402.4 447.9 364.3C486.4 328.5 512.1 286 526.6 256C512.1 225.1 486.4 183.5 447.9 147.7C406.8 109.6 353.2 80 288 80V80z"/></svg>
                            | 10324

                    h2.wrapDes= item.summary


mixin render_item_promotion_list(item)
    .itemList.col-xl-12.col-md-6
        .row.rowItem.row3
            .col-xl-2.colImg.col3
                .wrapImg
                    a.wrapImgResize.imgCustom2(href= item.link title= item.title )
                        img(src= item.img alt= item.title )

            .col-xl-10.colText.col3
                .contentCol 
                    h2.titleLinkMain
                        a.linkItem(href= item.link title= item.title)= item.title

                    h2.wrapDes= item.summary

mixin render_item_service_list(item)
    .itemList.col-md-6.col4
        .contentCol
            .wrapImg
                a.wrapImgResize.img16And9(href= item.link title= item.title_main )
                    img(src= item.img_list[0].img alt= item.title_main )

            .wrapTextItem
                h2.titleLinkMain
                    a.linkItem(href= item.link title= item.title_main)= item.title_main

                h2.wrapDes= item.des
            
            .wrapBtnAction 
                a.btn1.btnAction(href= item.link title='Chi tiết') 
                    | Chi tiết
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M363.3 100.7l144 144C510.4 247.8 512 251.9 512 255.1s-1.562 8.188-4.688 11.31l-144 144c-6.25 6.25-16.38 6.25-22.62 0s-6.25-16.38 0-22.62l116.7-116.7H16c-8.844 0-16-7.156-16-15.1c0-8.844 7.156-16 16-16h441.4l-116.7-116.7c-6.25-6.25-6.25-16.38 0-22.62S357.1 94.44 363.3 100.7z"/></svg>

mixin render_item_gallery_list(item, type)
    - var linkItem = ''

    -var iconItem = ''

    - var iconType = type

    case iconType
        when 'img'
            - var iconItem = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>'

            - var linkItem = 'hinh-anh.html'

        when 'video'
            - var iconItem = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>'

            - var linkItem = 'video.html'

    .itemList.col-sm-6.col-lg-4
        a.contentCol(href= linkItem title= item.title)
            .wrapImg
                .wrapImgResize.img16And9
                    img(src= item.img alt= item.title )

            .wrapIcon !{iconItem}

            .wrapTextItem
                .titleLinkMain
                    h2.linkItem= item.title

mixin render_item_gallery_detail(item, type)
    - var linkItem = ''

    -var iconItem = ''

    - var iconType = type

    case iconType        
        when 'zoom'
            - var iconItem = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM184 296c0 13.3 10.7 24 24 24s24-10.7 24-24V232h64c13.3 0 24-10.7 24-24s-10.7-24-24-24H232V120c0-13.3-10.7-24-24-24s-24 10.7-24 24v64H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h64v64z"/></svg>'

            - var linkItem = item.img
        
        when 'play'
            - var iconItem = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>'
            
            - var linkItem = 'https://youtu.be/4r7E2lYYMDU?si=yXx976dJw3wO4FFF'

    .itemList.col-sm-6.col-lg-4(data-src= linkItem)
        .contentCol
            .wrapImg
                .wrapImgResize.img16And9
                    img(src= item.img alt= item.title )

            .wrapIcon !{iconItem}

mixin renderItemServiceSlide(count, strName, strAlt)
    - var n = 1;

    while n <= count
        .itemSlide
            .contentImg 
                .wrapImgResize.img16And9 
                    img(src= strName + n++ +'.jpg' alt= strAlt)

mixin render_item_attractions(item)
    .itemList.col-md-4.col-sm-6.col4
        .contentCol 
            a.wrapImg(href= item.link title= item.title)
                .wrapImgResize.imgCustom2
                    img(src= item.img alt= item.title )

            .wrapTextItem
                h2.titleLinkMain
                    a.linkItem(href= item.link title= item.title_main)
                        img(src='images/icons/map-color.svg' alt='Map')
                        = item.title_main

mixin render_item_promotion(item)
    .itemList.col-md-4.col-6.col5
        .contentCol 
            a.wrapImg(href= item.link title= item.title)
                .wrapImgResize.imgCustom2
                    img(src= item.img alt= item.title )

mixin render_item_news_list(item)
    .itemList.col-xl-4.col-sm-6
        .contentCol 
            .wrapImg
                a.wrapImgResize.img16And9(href= item.link title= item.title )
                    img(src= item.img alt= item.title )

            .wrapTextItem
                h2.titleLinkMain
                    a.linkItem(href= item.link title= item.title_main )= item.title_main

                h3.wrapDes= item.text

            .wrapBtnDetail
                a.btn4.btnLink(href= item.link title='Xem chi tiết')
                    | Xem chi tiết
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg>

mixin render_item_news_other(item)
    .itemList.col-xl-4.col-sm-6
        .contentCol 
            .wrapImg
                a.wrapImgResize.img16And9(href='article-detail.html' title= item.title )
                    img(src= item.img alt= item.title )

            .wrapTextItem
                h2.titleLinkMain
                    a.linkItem(href='article-detail.html' title= item.title_main )= item.title_main

                h3.wrapDes= item.text

            .wrapBtnDetail
                a.btn4.btnLink(href= item.link title='Xem chi tiết')
                    | Xem chi tiết
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg>

mixin render_item_news_other_1(item)
    .itemList
        .contentCol 
            .wrapImg
                a.wrapImgResize.img16And9(href='service-detail.html' title= item.title )
                    img(src= item.img alt= item.title )

            .wrapTextItem
                h2.titleLinkMain
                    a.linkItem(href='service-detail.html' title= item.title_main )= item.title_main

                h3.wrapDes= item.text

            .wrapBtnBook
                a.linkItem.btn2(href='service-detail.html' title='View Detail') View Detail

mixin render_item_image_list(item)
    .itemList.col-xl-4.col-sm-6
        .contentCol 
            .wrapImg
                a.wrapImgResize.img16And9(href='hinh-anh.html' title= item.title )
                    img(src= item.img alt= item.title )

            .wrapTitle
                h2.titleLinkMain
                    a.linkItem(href='hinh-anh.html' title= item.title_main )= item.title_main

            .wrapIcon
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>

mixin render_item_video_list(item)
    .itemList.col-xl-4.col-sm-6
        .contentCol 
            .wrapImg
                a.wrapImgResize.img16And9(href='video.html' title= item.title )
                    img(src= item.img alt= item.title )

            .wrapTitle
                h2.titleLinkMain
                    a.linkItem(href='video.html' title= item.title_main )= item.title_main

            .wrapIcon
                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M384 256L0 32V480L384 256z"/></svg>

mixin render_item_image_detail(count, strName, strAlt)
    - var n = 1;

    while n <= count
        - var srcImg = strName + n++ +'.jpg'

        .itemList.col-xl-4.col-6.col1(data-src= srcImg)
            .contentCol 
                .wrapImg
                    .wrapImgResize.img16And9
                        img(src= srcImg alt= strAlt )

                .wrapIcon
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM184 296c0 13.3 10.7 24 24 24s24-10.7 24-24V232h64c13.3 0 24-10.7 24-24s-10.7-24-24-24H232V120c0-13.3-10.7-24-24-24s-24 10.7-24 24v64H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h64v64z"/></svg>

mixin render_item_video_detail(count, strName, strAlt)
    - var n = 1;

    while n <= count
        - var srcImg = strName + n++ +'.jpg'

        .itemList.col-xl-4.col-6.col1(data-src="https://www.youtube.com/watch?v=DslJxSFf_lk")
            .contentCol 
                .wrapImg
                    .wrapImgResize.img16And9
                        img(src= srcImg alt= strAlt )

                .wrapIcon
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M384 256L0 32V480L384 256z"/></svg>

mixin renderItemUtilities(item)
    .itemSlide                
        .wrapTextItem
            h2.titleLinkMain
                a.linkItem(href= item.link title= item.title)
                    img(src= item.img alt= item.title)
                    = item.title

mixin render_testimonial_item(data)
    .wrapTestimonialItem
        .contentItem
            p.textItem= data.text

            .wrapInfoUser
                .media.user
                    .wrapImgUser.align-self-center
                        .wrapImgResize.imgSquare
                            img(src= data.avatar alt= data.user_name)

                    .media-body.align-self-center
                        .wrapStar
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.825 19.5L5.45 12.475L0 7.75L7.2 7.125L10 0.5L12.8 7.125L20 7.75L14.55 12.475L16.175 19.5L10 15.775L3.825 19.5Z" fill="#E8A700"/>
                            </svg>

                        h3.wrapName= data.user_name